#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_del {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp LGUI>;
            layers = <0>;
        };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
				&kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
			>;
		};
	};
};
